<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyzH9r-v7H7rsPNrn_iLspuQhcttice8c</string>
	<key>GCM_SENDER_ID</key>
	<string>316781492369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bryan.PGU</string>
	<key>PROJECT_ID</key>
	<string>point-guard-university</string>
	<key>STORAGE_BUCKET</key>
	<string>point-guard-university.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:316781492369:ios:31f779cc0d27fea0e72730</string>
</dict>
</plist>
